[
    {
        "files" : [
            "C/testcasesupport/io.c",
            "C/testcases/CWE124_Buffer_Underwrite/s01/CWE124_Buffer_Underwrite__char_alloca_cpy_01.c"
        ],
        "compilation_cmd": "-I C/testcasesupport/",
        "main": "CWE124_Buffer_Underwrite__char_alloca_cpy_01_bad"
    },
    {
        "files" : [
            "C/testcasesupport/io.c",
            "C/testcases/CWE124_Buffer_Underwrite/s01/CWE124_Buffer_Underwrite__char_alloca_cpy_01.c"
        ],
        "compilation_cmd": "-I C/testcasesupport/",
        "main": "CWE124_Buffer_Underwrite__char_alloca_cpy_01_good"
    }
]
